/* BanTheBad */

* {
  margin: 0;
}

body {
  background-color: #171717;
}

.content {
  margin-top: 58px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  color: #171717;
  font-weight: bold;
  background-color: #FCFCFC;
}

.label.input {

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.icon.input-password {
  float: right;
  position: relative;
  margin-left: -7px;
  margin-top: -48px;
  margin-right: 20px;
  z-index: 2;
  color: #171717;
  cursor: pointer;
}

.button {
  height: 48px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #B5A396;
  background-color: #303030;
  color: #F9DECA;
  cursor: pointer;
  box-sizing: border-box;
}
.button.small {
  height: 32px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #B5A396;
  background-color: #303030;
  color: #F9DECA;
  cursor: pointer;
  box-sizing: border-box;
}

.victim-card {
  height: 80px;
  background-color: #FCFCFC;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}
.victim-data {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.victim-name {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}
.victim-location {
  color: #828282;
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
}
.victim-status {
  color: #EB5757;
  font-size: 12px;
  font-weight: bold;
  /* margin-top: 18px; */
}
.victim-story-link {
  color: #9F8F83;
  font-size: 12px;
  float: right;
  margin-bottom: 12px;
}
.victim-story-link-container {
  width: 55%;
  /* margin-left: 30px; */
  align-self: flex-end;
}

.topnav {
  background-color: #303030;
  overflow: hidden;
  margin: auto;
  width: 35%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

}
.topnav a {
  float: left;
  display: block;
  color: #F9DECA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.navbrand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  font-weight: bold;
  color: #F9DECA;
}
.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #F9DECA;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding-top: 10px;
}
.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #303030;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #F9DECA;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  margin-left: 10px;
}
a.not-cases-link {
  color: #9F8F83
}
hr.nav-divider {
  border: 1px dashed #9F8F83;
  margin: 14px 16px;
}

.details-header {
  height: 56px;
  display: flex;
}
.details-header .section {
  width: 50%;
  font-size: 16px;
  padding-top: 28px;
  text-align: center;
  color: #9F8F83;
  cursor: pointer;
}
.details-header .section.active {
  color: #F9DECA;
  border-bottom: 2px solid;
}

.bg-dark {
  background-color: #303030;
}
.bg-darker {
  background-color: #171717;
}
.lighter {
  color: #F9DECA;
}
.light {
  color: #9F8F83;
}
.white {
  color: #F2F2F2
}

.admin-login .page-title {
  margin-top: 40px;
  margin-bottom: 59px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #F9DECA;
}
.admin-login .form .form-group {
  margin-bottom: 24px;
}

.admin-login .form .btn-container {
  padding-top: 20px;
}

.admin-login .form .error-container {
  color: red;
}

.accused-card-container {
  margin-top: 40px;
}
.accused-card {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #ffffff5c;
}

.accused-name {
  font-size: 16px;
  font-weight: bold;
  color: #F2F2F2;
}
.accused-rank {
  font-size: 12px;
  color: #BCB7B7;
  margin-top: 10px;
}
.accused-offence-header {
  font-size: 12px;
  color: #F7F7F7;
  margin-top: 20px;
}
.accused-offence {
  font-size: 16px;
  font-weight: bold;
  color: #EB5757;
}
.accused-case-link {
  margin-top: 20px;
}
.accused-case-link a {
  color: #F7F7F7;
  font-size: 12px;
  font-weight: bold;
}

.section-container {
  padding-left: 16px;
  padding-right: 16px;
}

.case-accused-image-container {
  /* width: 30%; */
  margin-top: 16px;
}
.case-update-action {
  color: #F7F7F7;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}
.case-accused-container {
  background-color: #303030;
  padding: 14px 16px;
}
.case-details {
  padding: 14px 16px;
}
.case-details-view-action-container {
  overflow: auto;
  /* width: 30%; */
  margin-bottom: 20px;
}
.case-details-share-icons {
  color: #4F4F4F;
  float: left;
}
.case-details-share-icons svg{
  margin-right: 14px;
  cursor: pointer;
}
.case-details-view-action {
  color: #F7F7F7;
  float: right;
  font-size: 12px;
}
.case-details-view-action p {
  text-decoration: underline;
  cursor: pointer;
}
.case-detail-story {
  /* width: 30%; */
  color: #F7F7F7;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.case-detail-story hr {
  width: 100%;
  color: #F7F7F7;
  border: 1px dashed #828282;
  margin-top: 20px;
  margin-bottom: 20px;
}
.case-detail-data {
  /* width: 30%; */
  font-size: 12px;
  font-weight: bold;
  margin-top: 40px;
}
.case-detail-data hr {
  border: 1px solid #303030;
}
.case-data {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.case-data-title {
  float: left;
  font-size: 12px;
  color: #BCB7B7;
  font-weight: bold;
}
.case-data-text {
  float: right;
  font-size: 12px;
  color: #F7F7F7
}
.case-victims p {
  font-size: 12px;
  font-weight: bold;
  color: #646464;
  margin-top: 40px;
  margin-bottom: 20px;
}
.case-victims .list {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .topnav {width: 100%}
  .topnav a:not(:first-child), .dropdown .dropbtn {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .content {padding-left: 0; padding-right: 0; width: 100%;}
}
@media screen and (max-width: 600px) {
  .topnav {width: 100%}
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .accused-image-container, .accused-details-container {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .accused-card-container { width: 100%;}
  .case-accused-image-container { width: 100%;}
  .case-details-view-action-container {width: 100%}
  .case-detail-story, .case-detail-data {width: 100%}
}

